<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="_nilnul_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8172.37171" newVersion="1.0.8172.37171"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._obj_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8173.42511" newVersion="1.0.8173.42511"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._num_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8172.38406" newVersion="1.0.8172.38406"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._integer_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8172.32979" newVersion="1.0.8172.32979"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._txt_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8172.40069" newVersion="1.0.8172.40069"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._real_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8171.36823" newVersion="2.0.8171.36823"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.8171.35738" newVersion="1.1.8171.35738"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._bit_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8171.35509" newVersion="1.0.8171.35509"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._quotient_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8171.36704" newVersion="1.0.8171.36704"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._set_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8171.35682" newVersion="1.0.8171.35682"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._time_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8168.22941" newVersion="1.0.8168.22941"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num.real._matrix_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8162.967" newVersion="1.0.8162.967"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.geometry._planar_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8162.36615" newVersion="1.0.8162.36615"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
