<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.0.8172.37171" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.0.8100.39202" targetFramework="net48" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="johnHurliman.math._calculus_._LIB_" version="1.0.1" targetFramework="net48" />
  <package id="MathNet.Iridium" version="1.0.1.32096" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="miroslavStampar.math._calculus_._LIB_" version="1.0.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.0.8171.35509" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.8171.36545" targetFramework="net48" />
  <package id="nilnul._fs_._LIB_" version="2.0.8172.1525" targetFramework="net48" />
  <package id="nilnul._geometry_._LIB_" version="1.0.8051.600" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.0.8172.38406" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.0.8172.38376" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.0.8173.42511" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.1.8171.35738" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.0.8171.35682" targetFramework="net48" />
  <package id="nilnul._stat_._LIB_" version="1.0.8160.23420" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.0.8168.22941" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.0.8172.40069" targetFramework="net48" />
  <package id="nilnul._xml_._LIB_" version="1.0.8171.35623" targetFramework="net48" />
  <package id="nilnul.collection._axiomatic_._LIB_" version="1.0.8064.37643" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.0.8171.36417" targetFramework="net48" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.0.8162.36615" targetFramework="net48" />
  <package id="nilnul.math._calculus_._LIB_" version="1.0.8118.34219" targetFramework="net48" />
  <package id="nilnul.num._complex_._LIB_" version="1.0.8161.23142" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.0.8172.32979" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.0.8171.36704" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.0.8171.36823" targetFramework="net48" />
  <package id="nilnul.num.real._func_._LIB_" version="1.0.8118.34252" targetFramework="net48" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.0.8162.967" targetFramework="net48" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.0.7863.31102" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>